
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <title>Fanatic Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "menu" %>
  <%= javascript_include_tag "menu"%>
</head>
      <div class="col-md-9">
        <%= render "top_carousel"%>
      </div>
      <div class="col-md-5">
        <%= render "nba_headlines"%>
        <%= render "mlb_headlines"%>
        
        <hr>              

        <hr>
      </div><!--/col-->
      <div class="col-md-5">      
        <%= render "nfl_headlines"%>
        <%= render "nhl_headlines"%>
      </div><!--/row-->
    </div>