<%  for friendship in @user.friendships.take(8) %>
<div class="cd-member-bio member-<%= friendship.friend.id%>">
		<div class="cd-member-bio-pict"> <!-- background image -->
			<%= image_tag("team_images/#{friendship.friend.teams.first.id}.jpg")%>
		</div> 
		<div class="cd-profile-pic"> <!-- profile pic -->
			<%= link_to image_tag(friendship.friend.image, size: '100x100', class: 'img-circle'), user_posts_path(friendship.friend) %>
		</div>
		<div class="cd-bio-content">
			<h1><%= friendship.friend.name %></h1>
		<div class = "stats">
		<div id='posts'> <%= friendship.friend.posts.count %></div>
		<div id='cheers_count'><%= friendship.friend.reputation_for(:votes).to_i %></div>
		<div id='following_count'><%= friendship.friend.friendships.count%></div>
		<br>
		<div id='posts_label'> Posts</div>
		<div id='cheers_label'>Cheers</div>
		<div id='following_label'>Following</div>
		</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->
	<% end %>