<!DOCTYPE html>
<html>
<head>
	<title><%=@user.name%>'s Fanatic Dashboard</title>
	<%= stylesheet_link_tag "dashboard" %>
</head>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
		<h2>Dashboard</h2>
		<hr>
	   <%if @teams.first%>
			<div class='teamname'>
			<h4><i class="glyphicon glyphicon-link"></i> <%= link_to "#{@teams.first.location} #{@teams.first.name}",tag_path(@teams.first.name)%></h4>
			</div>
			<table>
				<tr>
					<% hottness(Post.tagged_with(@teams.first.name)).take(3).each do |post| %>
					<td>
					<%= link_to post_path(post.id) do%>
						<div class="thumbnail">
							<%= image_tag(post.image, size: "200x200")%>
							<h5>
								<%= post.title %>
							</h5>
							<p>
								
							</p>
						</div>
					</div>
				</td>
				<% end %>
				<% end %>
			</tr>
		</table>
		<% end %>
		<%if @teams.second%>
				<div class='teamname'>
			<h4><i class="glyphicon glyphicon-link"></i> <%= link_to "#{@teams.second.location} #{@teams.second.name}", tag_path(@teams.second.name)%></h4>
			</div>
			<table>
				<tr>
					<% hottness(Post.tagged_with(@teams.second.name)).take(3).each do |post| %>
					<td>
					<%= link_to post_path(post.id) do%>
						<div class="thumbnail">
							<%= image_tag(post.image, size: "200x200")%>
							<h5>
								<%= post.title %>
							</h5>
							<p>
								
							</p>
						</div>
					</div>
				</td>
				<% end %>
				<% end %>
			</tr>
		</table>
			<% end %>
		 <%if @teams.third%>
			<div class='teamname'>
			<h4> <i class="glyphicon glyphicon-link"></i> <%= link_to "#{@teams.third.location} #{@teams.third.name}", tag_path(@teams.third.name)%></h4>
			</div>
			<table>
				<tr>
					<% hottness(Post.tagged_with(@teams.third.name)).take(3).each do |post| %>
					<td>
					<%= link_to post_path(post.id) do%>
						<div class="thumbnail">
							<%= image_tag(post.image, size: "200x200")%>
							<h5>
								<%= post.title %>
							</h5>
							<p>
								
							</p>
						</div>
					</div>
				</td>
				<% end %>
				<% end %>
			</tr>
		</table>
	<% end %>
	<%if @teams.fourth%>
	<div class='teamname'>
			<h4><i class="glyphicon glyphicon-link"></i> <%= link_to "#{@teams.fourth.location} #{@teams.fourth.name}", tag_path(@teams.fourth.name)%></h4>
			</div>
			<table>
				<tr>
					<% hottness(Post.tagged_with(@teams.fourth.name)).take(3).each do |post| %>
					<td>
					<%= link_to post_path(post.id) do%>
						<div class="thumbnail">
							<%= image_tag(post.image, size: "200x200")%>
							<h5>
								<%= post.title %>
							</h5>
							<p>
								
							</p>
						</div>
					</div>
				</td>
				<% end %>
				<% end %>
			</tr>
		</table>
	<% end %>
	<%if @teams.fifth%>
	<div class='teamname'>
			<h4><i class="glyphicon glyphicon-link"></i> <%= link_to "#{@teams.fifth.location} #{@teams.fifth.name}", tag_path(@teams.fifth.name)%></h4>
			</div>
			<table>
				<tr>
					<% hottness(Post.tagged_with(@teams.fifth.name)).take(3).each do |post| %>
					<td>
					<%= link_to post_path(post.id) do%>
						<div class="thumbnail">
							<%= image_tag(post.image, size: "200x200")%>
							<h5>
								<%= post.title %>
							</h5>
							<p>
								
							</p>
						</div>
					</div>
				</td>
				<% end %>
				<% end %>
			</tr>
		</table>
	<% end %>
	<%if Post.all.where(:user_id => current_user.id)%>
			<h2> <i class="glyphicon glyphicon-pencil"></i> <%= link_to "My Posts", user_posts_path(@current_user)%></h2>
			<hr>
		<table>
			<tr>
				<% Post.all.where(:user_id => current_user.id).order("created_at DESC").limit(6).each do |post| %>
				<td>
				<%= link_to post_path(post.id) do %>
					<div class="thumbnail">
						<%= image_tag(post.image, size: "200x200")%>
						<h5>
							<%= post.title %>
						</h5>
						<p>

						</p>
					</div>
				</div>
			</td>
			<% end %>
			<% end %>
		</tr>
	</table>
	<%else%>
		<h2>My Posts</h2>
	<%= link_to "Create Post", new_post_path, :class => 'btn btn-primary btn-block'%>
	<% end %>
</div>
<div class="col-md-3 column pull-left">
	<%= image_tag(@user.image, size: "140x140", class: 'profile_pic') %>
	<h4>
		My Stats
	</h4>
	<hr>
	<dl class="dl-horizontal">
		<dt>
			Post Count
		</dt>
		<dd>
			<%= @my_posts_count %>
		</dd>
		<dt>
			Cheers
		</dt>
		<dd>
			<%= @my_posts_cheers %>
		</dd>
		<dt>
			Following
		</dt>	
		<dd>
		<%= @user.friendships.count%>
		</dd>
		<div class = 'following_images'>
				<% for friendship in @user.friendships.take(8) %>
			<ul id="grid">
					<li><%= image_tag(friendship.friend.image, size: '40x40') %></li>
				<% end %>
				</ul>
			</dl>
		<h4>
			My Teams
		</h4>
		<hr>
			
				<% @teams.each do |team| %>
				<li><%= team.name %></li>
				<% end %>
			</dd>
		<h4>Activity</h4>
		<hr>
		<dl>
			<dd>
			<%= render template: 'layouts/_activities.html.erb'%>
			</dd>
		</dl>
	</div>
</div>





