<!DOCTYPE html>
<html>
<head>
	<title><%=@user.name%>'s Fanatic Dashboard</title>
	<%= stylesheet_link_tag "dashboard" %>
</head>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
		<h2>Recommended Posts</h2>
		<hr>
			<div class='teamname'>
			<h4><%= link_to "#{@teams.first.location} #{@teams.first.name}", tag_path(@teams.first.name)%></h4>
			</div>
			<table>
				<tr>
					<% hottness(Post.tagged_with(@teams.first.name)).take(3).each do |post| %>
					<td>
					<%= link_to post_path(post.id) do%>
						<div class="thumbnail">
							<%= image_tag(post.image, size: "200x200")%>
							<h5>
								<%= post.title %>
							</h5>
							<p>
								
							</p>
						</div>
					</div>
				</td>
				<% end %>
				<% end %>
			</tr>
		</table>
		<div class='teamname'>
			<h4><%= @teams.second.location%> <%= @teams.second.name%></h4>
		</div>
		<table>
			<tr>
				<% Post.tagged_with(@teams.second.name).limit(3).each do |post| %>
				<td>
					<div class="thumbnail">
						<%= image_tag(post.image, size: "200x200")%>
						<h5>
							<%= post.title %>
						</h5>
						<p>

						</p>
					</div>
				</div>
			</td>
			<% end %>
		</tr>
	</table>
	<div class='teamname'>
		<h4><%= @teams.third.location%> <%=@teams.third.name%></h4>
	</div>
	<table>
		<tr>
			<% Post.tagged_with(@teams.third.name).limit(3).each do |post| %>
			<td>
				<div class="thumbnail">
					<%= image_tag(post.image, size: "200x200")%>
					<h5>
						<%= post.title %>
					</h5>
					<p>

					</p>
				</div>
			</div>
		</td>
		<% end %>
	</tr>
</table>
<div class='teamname'>
			<h2>My Posts</h2>
		</div>
		<table>
			<tr>
				<% Post.all.where(:user_id => current_user.id).order("created_at DESC").limit(6).each do |post| %>
				<td>
					<div class="thumbnail">
						<%= image_tag(post.image, size: "200x200")%>
						<h5>
							<%= post.title %>
						</h5>
						<p>

						</p>
					</div>
				</div>
			</td>
			<% end %>
		</tr>
	</table>

</div>
<div class="col-md-3 column">
	<%= image_tag(@user.image, size: "140x140") %>
	<h4>
		<%= @user.name %>'s Stats
	</h4>
	<hr>
	<dl class="dl-horizontal">
		<dt>
			Post Count
		</dt>
		<dd>
			<%= @my_posts_count %>
		</dd>
		<dt>
			Post Cheers
		</dt>
		<dd>
			<%= @my_posts_cheers %>
		</dd>
		<dt>
			Following
		</dt>	
		<dd>
			<ul>
				<% for friendship in @user.friendships %>
				<li>
					<%=h friendship.friend.image %>
					(<%= link_to "remove", friendship, :method => :delete %>)
				</li>
				<% end %>
			</dd>
			<dt>
				My Teams
			</dt>
			<dd>
				<% @teams.each do |team| %>
				<%= team.name %>
				<% end %>
			</dd>
		</dl>
		<h4>Activity</h4>
		<hr>
		<dl>
			<dd>
			<%= render template: 'layouts/_activities.html.erb'%>
			</dd>
		</dl>
	</div>
</div>
<h3>Post Count</h3>
<%= @my_posts_count %>
<hr>
<h3>Post Cheers</h3>
<%= @my_posts_cheers %>
<h3>Friends</h3>
<hr>
<ul>
	<% for friendship in @user.friendships %>
	<li>
		<%=h friendship.friend.name %>
		(<%= link_to "remove", friendship, :method => :delete %>)
	</li>
	<% end %>
</ul>
<ul>
	<% for user in @user.inverse_friends %>
	<li><%= user.name %></li>
	<% end %>
</ul>
<p><%= link_to "Find Friends", users_path %>

	<h3>Teams</h3>
	<hr>
	<% @teams.each do |team| %>
	<%= team.name %>
	<%= team.location %>
	<%= team.abbreviation %>
	<% Post.tagged_with(team.name).page(params[:page]).per_page(3).each do |post| %>
	<%= post.title %>
	<%= post.image %>
	<% end %>
	<% end %>
	<hr>
	


	<h3>My Posts</h3>
	<hr>
	<%= @my_posts.inspect %>

	<hr>






