<head>
<%= javascript_include_tag "users"%>
<%= javascript_include_tag "bootstrapValidator"%>
<%= stylesheet_link_tag "users_update" %>
<%= stylesheet_link_tag "bootstrapValidator" %>
<%= javascript_include_tag "validator/emailAddress"%>
<%= javascript_include_tag "validator/notEmpty"%>
<%= javascript_include_tag "validator/regexp"%>
<%= javascript_include_tag "validator/stringLength"%>

</head>
<div class="row center-block">
<h2>Update Profile</h2>
<hr>
		<%= render 'form' %>
	</div>
</div>
</div>