<head>
<script type="text/javascript">
$(function() {
 $( "#search" ).autocomplete({
    source: "/search_suggestions",
    minLength: 2,
 });
});
    </script>
<%= stylesheet_link_tag "search_suggestions" %>

<script>
  $(function(){
    // did the UI load?
    console.log(jQuery.ui);
  });
</script>
</head>
<h1>Listing users</h1>
<div class="col-md-8"> 
<%= form_tag users_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table table-hover" summary="User list"> 
		  <tr>
		      <th>Name</th>
		      <th>ID</th>
		      <th>Provider</th>
		      <th>Actions</th>
		 </tr>
    <% @users.each do |user| %>
		<tr>
		<td><strong><%=user.name %></strong></td>
		<td><strong><%=user.id %></strong></td>
		<td><strong><%=user.provider %></strong></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td><%= button_to("Add Friend", friendships_path(:friend_id => user), :method => :post) %></td>
    <% end %>
	</div>
</table>

<br>

<%= link_to 'New User', new_user_path %>
