<!DOCTYPE html>
<html ng-app='userSearchApp'>
<head>
  <%= javascript_include_tag "users"%>
  <%= stylesheet_link_tag "users_index" %>
</script>
</head>
<div class ="row">
<div class="col-md-10">
    <h2>Search Users</h2>
  </div>
  <div ng-controller="UserCtrl">
    <input type="text" class="form-control" placeholder="" ng-model="query">
    <ul class = 'userlist'ng-show='query'>
      <li ng-repeat="user in users | filter: query" class ="animate results"> 
        <a href="/users/{{user.id}}/posts"
        <div class= 'search_results'>    
         <img ng-src="{{user.image}}"/>
         <span id='user_details'><b>{{user.name}}</b>, <em>{{user.username}}</em>
         </span>
       </div>
     </a>
   </li>
 </ul>
 <div class="col-md-5 col-centered">
 <div class ="top_users">
  <div class ='widget_header'>
    <h4><i class="fa fa-trophy"></i> Top Contributors</h4>
  </div>
  <ul>
    <% @top_authors.first(5).each do |u| %>
      <a href = ""><li class ="list-unstyled"> 
      <span class="profile_pic"><img src="<%= u.image %>" class="img-circle"></span>
      <span class="uname"><%= u.username %></span>
      <span class="count"><%= u.posts.count %> </span>
      <div class= "sport"> sport </div>
    </li></a>
    <hr>
    <% end %>
  </ul>
  </div>
  <div class ="top_users">
  <div class ='widget_header'>
    <h4><i class="glyphicon glyphicon-stats"></i> Trending Authors</h4>
  </div>
  <ul>
    <% @trending_authors.first(5).each do |u|%>
      <a href = ""><li class ="list-unstyled"> 
      <span class="profile_pic"><img src="<%= u.image %>" class="img-circle"></span>
      <span class="uname"><%= u.username %></span>
      <span class="count"><%= u.reputation_for(:votes).to_i %> </span>
      <div class="sport"> sport </div>
    </li></a>
    <hr>
    <% end %>
  </ul>
  </div>
</div>
<div class="col-md-5 col-centered">
  <div class ="top_users">
  <div class ='widget_header'>
    <h4><i class="glyphicon glyphicon-star-empty"></i> Popular Authors</h4>
  </div>
  <ul>
    <% @followed_authors.first(5).each do |u|%>
      <span class = "background">
        <li class ="list-unstyled">
      <span class="follow">
        <% if current_user.friends.exists?(u.id)%>
          <i class="fa fa-check-square fa-2x"></i>
        <% else %>
          <%= link_to("<i class='fa fa-plus-square fa-2x'></i>".html_safe, friendships_path(:friend_id => u.id), :method => :post, :id => 'follow-link') %>
        <% end %>
      </span>
      <a href = "/users/<%=u.id%>/posts" id = 'posts-link'>
      <span class="profile_pic"><img src="<%= u.image %>" class="img-circle"></span>
      <span class="uname"><%= u.username %></span>
      <span class="count"><%= u.friendships.count%></span>
      <div class="sport"> sport </div>
    </li></span></a>
    <hr>
    <% end %>
  </ul>
  </div>

 <h3>Popular Authors</h3>
 <ul>
  <% @followed_authors.first(5).each do |u|%>
  <li> 
    <%= u.name %>
    <%= u.friendships.count%> 
  </li>
  <% end %>
</ul>
</div>
</div>
</div>


