<%= stylesheet_link_tag "posts" %>
<%= javascript_include_tag "post_index" %>
 <div class="row">
  <div class="col-md-10 column">
    <div id="title">
     <a href="/users/<%=@user.id%>/posts"><strong><i class="glyphicon glyphicon-star-empty"></i> Posts by <%=@user.name%></strong></a> 
   </div> 
   <div id="new_button">
     <a href="/posts/new"><strong><i class="glyphicon glyphicon-plus-sign"></i>  New Post</strong></a>
   </div>  
   <br>  
   <hr>
   <br>
   <div>

    <input type="hidden" id="dropdown" style="width:300px" class="input-xlarge" />

  </div>
  <br>
    <%= render partial:'posts/postPreview'%>
  </div>
</div>
</div>