<%= stylesheet_link_tag "posts" %>
<%= javascript_include_tag "post_index" %>
 <div class="row">
  <div class="col-md-10 column">
    <div id="title">
     <a href="/users/<%=@user.id%>/posts"><strong><i class="glyphicon glyphicon-star-empty"></i> Posts by <%=@user.name%></strong></a> 
   </div> 
   <div id="new_button">

   <!-- Based on current_users relationship to users#post ID being viewed different options will be displayed -->
   <% if @user == current_user%>
     <a href="/posts/new"><strong><i class="glyphicon glyphicon-plus-sign"></i>  New Post</strong></a>
  <% elsif current_user.friends.exists?(@user.id)%>
  
  <% else %>
  <strong><%= link_to("<i class='glyphicon glyphicon-plus-sign'></i>"" Follow #{@user.name}".html_safe, friendships_path(:friend_id => @user.id), :method => :post) %></strong>
  <% end %>

   </div>  
   <br>  
   <hr>
   <br>
   <div>

    <input type="hidden" id="dropdown" style="width:300px" class="input-xlarge" />

  </div>
  <br>
    <%= render partial:'posts/postPreview'%>
  </div>
</div>
</div>
