<!DOCTYPE html>
<html>
<head>
	<title><%=@user.name%>'s Fanatic Dashboard</title>
	<%= stylesheet_link_tag "dashboard" %>
	<%= javascript_include_tag "dashboard"%>
</head>
<body>
<div class="col-md-8 column header">
<!-- background image -->
   <div class="cd-member-bio-pict flip"> 
    <%= image_tag("team_images/#{@teams[rand(@teams.length)].id}.jpg", size: "600x350", class:'flip')%>
      </div>
<!-- profile pic -->
  <div class="cd-profile-pic">
    <%= link_to image_tag("fanatic_logos/fanatic_circle_logo.png", size: '100x100', class: 'img-circle'), user_posts_path(current_user) %>
  </div> 
    <div id="title">
     <a href="/posts"><strong><i class="glyphicon glyphicon-star-empty"></i>  All Posts</strong></a>
    </div> 

   <div id="new_button">
     <%if can? :create, Post %>
     <a href="/posts/new"><strong><i class="glyphicon glyphicon-plus-sign"></i>  New Post</strong></a>
     <% end %>
   </div> 
</div> 
   <div class="col-md-8 column content">
    <div id='user_teams'>
      <%if @teams.first%>
      <div class='teamname'>
        <h4><%= link_to "#{@teams.first.location} #{@teams.first.name}",tag_path(@teams.first.name)%></h4>
      </div>
      <table>
        <tr>
         <% hottness(Post.tagged_with(@teams.first.name)).take(3).each do |post| %>
         <div class="pin">
           <div class="image">
            <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
          </div>
          <div class="caption">
            <h4>
             <%= post.title %>
           </h4>
           <div class = 'post-info'>
             <div class = 'tags'>
              <ul class="token-input-token-facebook">
                <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li>
              </ul>
            </div>
            <div id = 'cheers'>
              <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
<%if @teams.second%>
<div class='teamname'>
 <h4><%= link_to "#{@teams.second.location} #{@teams.second.name}", tag_path(@teams.second.name)%></h4>
</div>
<table>
  <tr>
    <% hottness(Post.tagged_with(@teams.second.name)).take(3).each do |post| %>
    <div class="pin">
     <div class="image">
      <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
    </div>
    <div class="caption">
     <h4>
      <%= post.title %>
    </h4>
    <div class = 'post-info'>
     <div class = 'tags'>
       <ul class="token-input-token-facebook">
        <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %>
        </li>
      </ul>
    </div>
    <div id = 'cheers'>
      <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
    </div>
  </div>
</div>
</div>
</td>
</tr>
<% end %>
<% end %>
</table>
<%if @teams.third%>
<div class='teamname'>
  <h4><%= link_to "#{@teams.third.location} #{@teams.third.name}", tag_path(@teams.third.name)%></h4>
</div>
<table>
  <tr>
   <% hottness(Post.tagged_with(@teams.third.name)).take(3).each do |post| %>
   <div class="pin">
    <div class="image">
     <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
   </div>

   <div class="caption">
     <h4>
      <%= post.title %>
    </h4>
    <div class = 'post-info'>
      <div class = 'tags'>
       <ul class="token-input-token-facebook">
        <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>
      </div>
      <div id = 'cheers'>
        <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
      </div>
    </div>
  </div>
</div>
</td>
</tr>
<% end %>
<% end %>
</table>
<%if @teams.fourth%>
<div class='teamname'>
  <h4><%= link_to "#{@teams.fourth.location} #{@teams.fourth.name}", tag_path(@teams.fourth.name)%></h4>
</div>
<table>
  <tr>
   <% hottness(Post.tagged_with(@teams.fourth.name)).take(3).each do |post| %>
   <div class="pin">
    <div class="image">
     <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
   </div>

   <div class="caption">
     <h4>
      <%= post.title %>
    </h4>
    <div class = 'post-info'>
      <div class = 'tags'>
       <ul class="token-input-token-facebook">
        <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>
      </div>
      <div id = 'cheers'>
        <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
      </div>
    </div>
  </div>
</div>
</td>
</tr>
<% end %>
<% end %>
</table>
<%if @teams.fifth%>
<div class='teamname'>
  <h4><%= link_to "#{@teams.fifth.location} #{@teams.fifth.name}", tag_path(@teams.fifth.name)%></h4>
</div>
<table>
  <tr>
   <% hottness(Post.tagged_with(@teams.fifth.name)).take(3).each do |post| %>
   <div class="pin">
    <div class="image">
     <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
   </div>

   <div class="caption">
     <h4>
      <%= post.title %>
    </h4>
    <div class = 'post-info'>
      <div class = 'tags'>
       <ul class="token-input-token-facebook">
        <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>
      </div>
      <div id = 'cheers'>
        <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
      </div>
    </div>
  </div>
</div>
</td>
</tr>
<% end %>
<% end %>
</table>
<%if Post.all.where(:user_id => current_user.id)%>
<h4><%= link_to "My Posts", user_posts_path(@current_user)%></h4>
<table>
  <% @my_posts.each_slice(3) do |slice| %>
  <tr>
   <% slice.each do |post| %>
   <td>
    <div class="pin">
     <div class="image">
      <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
    </div>

    <div class="caption">
      <h4>
       <%= post.title %>
     </h4>
     <div class = 'post-info'>
       <div class = 'tags'>
        <ul class="token-input-token-facebook">
         <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>
       </div>
       <div id = 'cheers'>
         <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
       </div>
     </div>
   </div>
 </div>
</td>
<% end %>
</tr>
<% end %>
</table>
</div>
<%else%>
<h2>My Posts</h2>
<%= link_to "Create Post", new_post_path, :class => 'btn btn-primary btn-block'%>
<% end %>
</div>
<div class="col-md-3 column user_column">
 <div id = 'user_widget'>
  <div id="DashboardProfileCard"> </div>
  <ul>
    <%= link_to "##{current_user.id}", 'data-type' => "member-#{current_user.id}" do %>
    <%= image_tag(@user.image, class: 'profile_pic', size: "80") %>
    <% end %>
  </ul>
  <div class = "user_widget_stats">
    <div id='first_name'><strong><%= @user.first_name %></strong></div>
    <div id='username'> <em><%= @user.username %></em></div>
    <a href= '/users/<%= @user.id %>/posts'> 
      <div id='posts'> <%= @my_posts_count %></div>
    </a>
    <div id='cheers_count'><%= @my_posts_cheers %></div>
    <div id='following_count'><%= @user.friendships.count%></div>
    <br>
    <div id='posts_label'> Posts</div>
    <div id='cheers_label'>Cheers</div>
    <div id='following_label'>Following</div>
  </div>
</div>

<div id= 'team_widget'>
  <div id= 'widget_header'><h4>Teams</h4>
  </div>
  <hr>
  <div class = 'team_images'>
   <% @teams.each do |team| %>
   <%= link_to tag_path(team.name) do%>
   <%= image_tag("logos/#{team.id}.png", size: "80x55")%>
   <% end %>
   <% end %>
 </div>
</div>
<div id='following_widget'>
 <div id= 'widget_header'><h4>
  Following
</h4>
</div>
<hr>
<section id="cd-team" class='following_images'>

  <ul>
    <%  for friendship in @user.friendships.take(8) %> <a href="#<%=friendship.friend.id%>" data-type="member-<%=friendship.friend.id%>">
    <%= image_tag(friendship.friend.image, size: '40x40', class: 'img-circle') %></a>
    <% end %>
  </ul>
</section>
</div>
<div id= 'activity_widget'>
  <div id= 'widget_header'>
   <h4>Activity</h4>
 </div>
 <hr>
 <dl>
   <dd>
    <%= render template: 'layouts/_activities.html.erb'%>
  </dd>
</dl>
</div>
</div>
<div class="cd-overlay"></div>
<%= render partial: 'current_profile' %>
<%  for friendship in @user.friendships.take(8) %>
<%= render partial: 'profile' %>
<% end %>
<a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->
</body>
</html>






