  <table summary="Post form fields">
  <tr>
	<%= f.hidden_field :user_id %>
    <th><%= f.label(:title) %></th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th><%= f.label(:url) %></th>
    <td><%= f.text_field(:url) %></td>
  </tr>
  <tr>
    <th><%= f.label(:visible) %></th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
  <th><%= f.label(:content) %></th>
  <td><%= f.text_area(:content, size: '200x50') %></td>

</table>
