<!-- Partial used to present posts preview tiles on posts#index,posts#list, and posts#sort_created -->
<% @posts.each do |post| %>
<!-- Post Preview Tile -->
<div class="pin">
  <div class="pin_contents">
  <div class="image">
    <a href="/posts/<%=post.slug%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
  </div>
  <div class="caption">
    <h4>
      <%= post.title.truncate(30, separator: ' ') %>
    </h4>
    <div class = 'post-info'>
      <!-- Post tags -->
      <div class = 'tags'>
        <ul class="token-input-token-facebook">
          <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>
        </div>
        <div id = 'cheers'>
          <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
        </div>
      </div>
    </div>
    </div>
  </div>
  <% end %>
