<% @posts.each do |post| %>  
<div class="col-md-4">
          <div class="thumbnail">
            <a href="/posts/<%=post.id%>"><img alt="300x200" src="<%= post.image %>" /></a>
            <div class="caption">
              <h3>
                <%= post.title %>
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p>
                <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'btn btn-warning') %>

                <%= link_to "Delete", post_path(post), :method => :delete, :class =>"btn btn-danger", :confirm => "Are you sure?"%>
              </p>
            </div>
          </div>
        </div>
      <% end %>

