<% @posts.each do |post| %>
<div class="pin">
          <div class="image">
            <a href="/posts/<%=post.id%>"><img class= "img-responsive" src="<%= post.image %>" /></a>
          </div>
            
            <div class="caption">
              <h3>
                <%= post.title %>
              </h3>
              <div class = 'post-info'>
              <div class = 'tags'>
                <ul class="token-input-token-facebook">
                <li class="token-input-token-facebook"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>
                 </div>
                <div id = 'cheers'>
                <%= pluralize post.reputation_for(:votes).to_i, "cheer" %> 
                </div>
                </div>
              <div class = 'post-actions'>
                <div class = 'buttons'>
                <% if can? :update, post %>
                <%= link_to("", {:action => 'edit', :id => post.id}, :class => 'glyphicon glyphicon-edit') %>
                <% end %>
                <% if can? :delete, post %>
                <%= link_to "", post_path(post), :method => :delete, :class =>"glyphicon glyphicon-trash", data: { confirm: "Are you sure?" }%>
                <% end %>
                </div>
                <div class = 'votes'>
                  <% if can? :vote, post %>
                 <%= link_to("", vote_post_path(post, type: "up"), method: "post", :class => 'glyphicon glyphicon-thumbs-up') %> 
                 <% end %>
                 <% if can? :vote, post %>
                  <%= link_to("", vote_post_path(post, type: "down"), method: "post", :class => 'glyphicon glyphicon-thumbs-down') %> 
                  <% end %>
                  </div>
            </div>  
          </div>
        </div>
        <% end %>
        </div>
        <div class="text-center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
      </div>

