<html>
<head>
	<%= javascript_include_tag "posts_show.js"  %>
	<%= stylesheet_link_tag "posts_show" %>
</head>
<body>
  <div class="row clearfix">
  <!-- Post header info -->
    <div class="col-md-8 column">
	  <h3>
		<%= @post.title %>
	  </h3>
	  <h3><small>By <%= @post.user.name %>,</small> 
	  <small><em> <%= @post.created_at.strftime("%B %d, %Y")%></em></small></h3>
	  <hr>
	    <!-- Post Content  -->
	  <p class="text-left lead">
		<%=raw @post.content %>
	  </p>
	   <!-- Post Comments  -->
	  <%= render @post.comments %>
	  <%= render "comments/form" %>
	</div>
	<!-- Post Details Side Bar  -->
	<div class="col-md-4 column">
	 <!-- Post Image  -->
	  <img alt="140x140" src="<%=@post.image.url(:thumb) if @post.image?%>" />
	  <dl class="dl-horizontal">
	  <!-- Author details  -->
	  <dt>
		Author
	  </dt>
	  <dd id = 'author_image' >
	  <a href="#<%=@post.user.id%>" data-type="member-<%=@post.user.id%>">
	  <%= @post.user.username%></a>
	  </dd>
	  <dt>
		Number of Posts
	  </dt>
	  <dd>
	     <%= link_to @post.user.posts.count, user_posts_path(@post.user) %>
	  </dd>
	  <% if can? :create, @post %>
	  <%if current_user.nil? || current_user.id = @posts_user_id %>
	  <% else %>
	  <dt>
	  </dt>
	  <dd>
	  <!-- Following button  -->
		<% if current_user.friends.exists?(@posts_user_id)%>
			<%= link_to("<i class='fa fa-times-circle'></i>"" Unfollow".html_safe, friendship_path(current_user.friendships.find_by_friend_id(@posts_user_id)), :method => :delete, :class => 'btn btn-default btn-block') %>
			<% else %>
			<%= link_to("<i class='fa fa-plus-circle'></i>"" Follow".html_safe, friendships_path(:friend_id => @post.user), :method => :post, :class => 'btn btn-default btn-block') %>
			<% end %>
	  </dd>
	  <% end %>
	  <% end %>
	  <div id="date">
	    <dt>
		  Created
	    </dt>
	    <dd>
		  <small><em><%= @post.created_at.strftime("%B %d, %Y")%></em></small>
	 </div>
	 </dd>
		<dt>
		  Tags
		</dt>
		<div>
		<!-- Post Tags  -->
		  <dd class = 'tags'>
			<ul class="token-input-token-facebook">
			  <li class="token-input-token-facebook"><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li>
			</ul>
		  </dd>
		</div>
		<!-- Post Cheers  -->
		<dt>
		  Cheers
		</dt>
		<dd>
			<%= pluralize @post.reputation_for(:votes).to_i, "cheer" %>  
		  <div class = 'votes'>
		    <% if can? :vote, @post %>
		    <%= link_to("", vote_post_path(@post, type: "up"), method: "post", :class => 'glyphicon glyphicon-thumbs-up') %> 
		    <% end %>
		    <% if can? :vote, @post %>
		    <%= link_to("", vote_post_path(@post, type: "down"), method: "post", :class => 'glyphicon glyphicon-thumbs-down') %> 
		    <% end %>
		  </div>
		</dd>
		<!-- Post actions  -->
		<div class = 'post-actions'>
		  <div class = 'buttons'>
		    <% if can? :edit, @current_user %>
			<dt>
			  Actions
			</dt>
			<dd>
			  <%= link_to("", {:action => 'edit', :id => @post.slug}, :class => 'glyphicon glyphicon-edit') %>
			  <% end %>
			  <% if can? :destroy,  @current_user %>
			  <%= link_to "", post_path(@post), :method => :delete, :class =>"glyphicon glyphicon-trash", data: { confirm: "Are you sure?" }%>
			  <% end %>
			</dd>
		  </div>
		</div> 
		<!-- Post Share  -->
	    <div class="share">
		  <dt>
			Share
		  </dt>
		  <dd>
		    <span class="fa-stack fa-lg">
		      <a href= "http://twitter.com/share?text=Fanatic.com&url=http://fanatic.com  &hashtags=fanatic,sports,">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
		    </span>
			<span class="fa-stack fa-lg">
			  <a href= "https://www.facebook.com/sharer.php?u=123.abc.com&t=Test">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
			</span>
			<span class="fa-stack fa-lg">
			  <a href= "http://www.reddit.com/submit?url=your_url&title=your_title">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-reddit fa-stack-1x fa-inverse"></i></a>
			</span>
			<span class="fa-stack fa-lg">
			  <a href= "mailto:?subject=look at this website&body=Hi,I found this website and thought you might like it http://www.geocities.com/wowhtml/">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa fa-envelope-o fa-stack-1x fa-inverse"></i></a>
		    </span>
		  </dd>
	    </div> 
	  </dl>
	</div>
  </div>
</div>
<div class="cd-overlay"></div>
  <!-- Author slide out profile  -->
  <%= render partial: 'author_profile' %>
  <a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->
</body>
</html>
