<%= stylesheet_link_tag "posts_show" %>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3>
				<%= @post.title %>
			</h3>
			<h3><small>By <%= @post.user.name %>,</small> 
             <small><em> <%= @post.created_at.strftime("%B %d, %Y")%></em></small></h3>
             <hr>
			<p class="text-left lead">
				<%=raw @post.content %>
			</p>
			<%= render @post.comments %>
		</div>
		<div class="col-md-4 column">
			<img alt="140x140" src="<%=@post.image.url(:thumb) if @post.image?%>" />
			<dl class="dl-horizontal">
				<dt>
					Author
				</dt>
				<dd>
				 <%= link_to @post.user.name, user_posts_path(@post.user) %> 
				 <%= link_to("Follow Author", friendships_path(:friend_id => @post.user), :method => :post) %>
				</dd>
				<dt>
					Number of Posts
				</dt>
				<dd>
					<%= pluralize @post.user.posts.count, "post" %>
				</dd>
				<div id="date">
				<dt>
					Created
				</dt>
				<dd>
					<small><em><%= @post.created_at.strftime("%B %d, %Y")%></em></small>
					</div>
				</dd>
				<dt>
					Tags
				</dt>
				<div>
				  <dd class = 'tags'>
                  <ul class="token-input-token-facebook">
                  <li class="token-input-token-facebook"><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join('<li class="token-input-token-facebook"> ') %></li></ul>

				   </dd>
				</div>
				<dt>
					Cheers
				</dt>
				<dd>
					<%= pluralize @post.reputation_for(:votes).to_i, "cheer" %>  
				<div class = 'votes'>
                  <% if can? :vote, @post %>
                 <%= link_to("", vote_post_path(@post, type: "up"), method: "post", :class => 'glyphicon glyphicon-thumbs-up') %> 
                 <% end %>
                 <% if can? :vote, @post %>
                  <%= link_to("", vote_post_path(@post, type: "down"), method: "post", :class => 'glyphicon glyphicon-thumbs-down') %> 
                  <% end %>
                  </div>
				</dd>
				<div class = 'post-actions'>
                <div class = 'buttons'>
                <% if can? :update, @post %>
              <dt>
				Actions
			  </dt>
			  <dd>
                <%= link_to("", {:action => 'edit', :id => @post.slug}, :class => 'glyphicon glyphicon-edit') %>
                <% end %>
                <% if can? :delete, @post %>
                <%= link_to "", post_path(@post), :method => :delete, :class =>"glyphicon glyphicon-trash", data: { confirm: "Are you sure?" }%>
                <% end %>
                </dd>
                </div>
            </div> 
				<div class="share">
				<dt>
					Share
				</dt>
				<dd>
					<span class="fa-stack fa-lg">
  						<a href= "http://twitter.com/share?text=Fanatic.com&url=http://fanatic.com&hashtags=fanatic,sports,">
  						<i class="fa fa-circle fa-stack-2x"></i>
  						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
					</span>
					<span class="fa-stack fa-lg">
						<a href= "https://www.facebook.com/sharer.php?u=123.abc.com&t=Test">
  						<i class="fa fa-circle fa-stack-2x"></i>
  						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
					</span>
						<span class="fa-stack fa-lg">
						<a href= "http://www.reddit.com/submit?url=your_url&title=your_title">
  						<i class="fa fa-circle fa-stack-2x"></i>
  						<i class="fa fa-reddit fa-stack-1x fa-inverse"></i></a>
					</span>
  					<span class="fa-stack fa-lg">
  					<a href= "mailto:?subject=look at this website&body=Hi,I found this website and thought you might like it http://www.geocities.com/wowhtml/">
  						<i class="fa fa-circle fa-stack-2x"></i>
  						<i class="fa fa fa-envelope-o fa-stack-1x fa-inverse"></i></a>
  					</span>
				</dd>
			  </div> 
			</dl>
		</div>
    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
	</div>
</div>