
<head>
</head>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<body>
<div class="col-md-9">
  <h2>Show Post</h2>
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
  <table summary="Show post detail view">
    <tr>
      <th>Title</th>
      <td><%= @post.title %></td>
    </tr>
	<tr>
      <th>Content</th>
      <td><%= @post.content %></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><%= @post.url %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= @post.visible ? 'true' : 'false' %></td>
    </tr>
	<tr>
      <th>Author Name</th>
      <td><%= @post.user.name %></td>
    </tr>
	<tr>
      <th>Author ID</th>
      <td><%= @post.user_id %></td>
    </tr>

    <tr>
      <th>Created</th>
      <td><%= @post.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @post.updated_at %></td>
    </tr>
  </table>
  
</div>
<div class="col-md-9">
<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>

<div id="fb-root"></div>
<script>
$(window).load(function() {
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '249183201915324',
      status     : true,
      xfbml      : true
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
});
</script>

</body>