<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fanatic Sports</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <!-- Add custom CSS here -->
  <%= stylesheet_link_tag 'stylish-portfolio' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
  <div id="top" class="header">
    <div class="vert-text">
      <h1>Fanatic Sports</h1>
      <h3>Socializing Sports Blogging</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>

      <%= link_to image_tag("public_index/sign_in_facebook_flat.png", :border=>0), "/auth/facebook" %>

      <%= link_to image_tag("public_index/sign_in_twitter_flat.png", :border=>0), "/auth/twitter" %>

    </div>
  </div>
  <!-- /Full Page Image Header Area -->


  <!-- Intro -->
  <div id="about" class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2 class='headline slide'>
            <span>Leaving the</span>
            <span class= "animated-words-wrapper">
            <b class="is-visible">Connecting</b>
            <b>Sharing</b>
            <b>Commentating</b>
            </span>
            <span>to the Fans</span>
          </h2>
          <p class="lead">Create and share posts while connecting with other fans. Get breaking news on your favorite teams.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Intro -->

  <!-- Services -->
  <div id="services" class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>Features</h2>
          <hr>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-book"></i>
            <h4>Be in the Know</h4>
            <p>Your dashboard will keep you up-to-date on what is happening with your teams.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-share-alt"></i>
            <h4>Connect</h4>
            <p>Discover and follow other fanatic sports bloggers. Cheer them  on and leave comments.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-share-square-o"></i>
            <h4>Share</h4>
            <p>Why write if no one is going to read? Fanatic makes it easy to share your posts. </p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="service-item">
            <i class="service-icon fa fa-pencil"></i>
            <h4>Post</h4>
            <p>Bring out your inner sports writer by jotting down your thoughts on the big game. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container teams">
    <ul>
      <li>
        <div class="cd-title">
          <h2>Golden State Warriors</h2>
          <p>Brief description of the project here</p>
        </div> <!-- .cd-title -->

        <div class="cd-project-info">
          <p><!-- your content here --></p>
        </div> <!-- .cd-project-info -->
      </li>

      <li>
       <h2>Golden State Warriors</h2>
        <p>Brief description of the project here</p>
      </li>
      <li>
       <h2>Golden State Warriors</h2>
        <p>Brief description of the project here</p>
      </li>
      <li>
       <h2>Golden State Warriors</h2>
        <p>Brief description of the project here</p>
      </li>
    </ul>
  </div>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <ul class="list-inline">
            <li><i class="fa fa-facebook fa-3x"></i></li>
            <li><i class="fa fa-twitter fa-3x"></i></li>
            <li><i class="fa fa-dribbble fa-3x"></i></li>
          </ul>
          <div class="top-scroll">
            <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
          </div>
          <hr>
          <p>Copyright &copy; Fanatic 2014</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"  %>
  <script type="text/javascript">
    var animationDelay = 2500;

    animateHeadline($('.headline'));

    function animateHeadline($headlines) {
      $headlines.each(function(){
        var headline = $(this);
        //trigger animation
        setTimeout(function(){ hideWord( headline.find('.is-visible') ) }, animationDelay);
        //other checks here ...
      });
    }
    function hideWord($word) {
      var nextWord = takeNext($word);
      switchWord($word, nextWord);
      setTimeout(function(){ hideWord(nextWord) }, animationDelay);
    }

    function takeNext($word) {
      return (!$word.is(':last-child')) ? $word.next() : $word.parent().children().eq(0);
    }

    function switchWord($oldWord, $newWord) {
      $oldWord.removeClass('is-visible').addClass('is-hidden');
      $newWord.removeClass('is-hidden').addClass('is-visible');
    }
  </script>
</body>

</html>
