<!DOCTYPE html>
<html>
<head>
  <title>FanaticV2</title>
 <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" %> 
 <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" %>
 


  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<%= render "layouts/leftMenu" %>



<div id="page">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
<%= yield %>
</body>
</html>
